{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Form Kegiatan</title>
{% endblock meta %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h2>Form Kegiatan</h2>
        </div>
    </div>

    <div class="row mt-5">
        <form action="/tambah_kegiatan/" method="POST">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock content %}
